<header> 

<div class="headerconteiner">
    <img src="../../../assets/img.png" id="logoAP">
</div>
    <div class="RedesLogin">
        <div class="RS">
            <a href="https://www.linkedin.com/in/agustin-aguirre-790a18211/"target="_blank"> <i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.youtube.com/channel/UCajpyH-x1RsEBGN6oqIE59A"target="_blank"><i class="fa-brands fa-youtube"></i> </a>
            <a href="https://github.com/Lazzeriagustin"target="_blank"><i class="fa-brands fa-github"></i> </a>
        </div>
    
    </div>
    

</header>




